<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
</head>
<body>
<h1>Список пользователей</h1>
<table border="1">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Список дел</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstName}">...</td>
        <td th:text="${user.lastName}">...</td>
        <td><a th:href="'/main/task'">Перейти к списку дел</a></td>
    </tr>
</table>
<a th:href="@{/main/user/add}">Добавить пользователя</a>
</body>
</html>